.spacer {
  flex: 1 1 auto; /* Займає весь вільний простір */
}

.logo {
  cursor: pointer;
  font-weight: bold;

  /* При наведенні трохи змінюємо прозорість */
  &:hover {
    opacity: 0.9;
  }
}

.host {
  position: sticky;
  top: 0;
  z-index: 1000;
}
