.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

mat-card {
  width: 100%;
  max-width: 400px;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.full-width {
  width: 100%;
}
