.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  margin-top: 40px;

  .container {
    display: flex;
    align-items: center;
  }

  a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }
}
